// sizes
//-----------------------------------------------------------
$size: 8px;

// body
//-----------------------------------------------------------
$body-color:     #475461;
$body-font-size:   14px;
$body-font-weight: 400;
$body-line-height: 1.4;
$body-font-family: "Inter", sans-serif;

// colors
//-----------------------------------------------------------
$white:        #ffffff;
$black:        #000000;
$gray:         #e3e6e8;
$gray-dark:    #9da8b4;
$gray-pale:    #c2ccd6;
$gray-light:   #f9f9f9;
$theme-color:  #6d33ff;

// others
//-----------------------------------------------------------
$border-radius: 14px;