/* .c-action
-----------------------------------------------------------*/
$r: ".c-action";

// block
//-----------------------------------------------------------
#{$r} {
  display: flex;
  align-items: center;

  // element
  //---------------------------------------------------------
  &__column {
    display: flex;
    align-items: center;
    margin-right: $size * 4;

    &:last-child {
      margin-right: 0;
    }

    > * {
      margin-right: $size * 2;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------