/* .c-title
-----------------------------------------------------------*/
$r: ".c-title";

// block
//-----------------------------------------------------------
#{$r} {
  display: flex;
  align-items: center;
  height: $size * 8;
  font-size: 16px;
  font-weight: 600;
  padding: 0 $size * 2;
  border-bottom: 1px solid $gray;

  // element
  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
