$r: ".l-main";

// block
//-----------------------------------------------------------
#{$r} {
  display: grid;
  grid-area: main;
  padding: $size * 2;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.09);

  // element
  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
